---
layout: page
title: "PowerShell User Groups"
---
<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Language</th>
    <th>Website</th>
    <th>Contact</th>
  </tr>
{% for usergroup in site.powershell %}
      <tr>
        <th>{{ usergroup.name }}</th>
        <th>{{ usergroup.location }}</th>
        <th>{{ usergroup.language }}</th>
        <th><a href="{{ usergroup.website }}" target="_blank">{{ usergroup.website }}</a></th>
        <th>
          {% for contact in usergroup.contact %}
            <p><a href="{{ contact.twitter }}" target="_blank">{{ contact }}</a></p>
          {% endfor %}
        </th>
      </tr>
    {% endfor %}
    </table>