<h3>{{ usergroup.name }}</h3>

<p>{{ usergroup.location }} - {{ usergroup.language }}</p>

{% if usergroup.website %}
<p><a href="{{ usergroup.website }}" target="_blank">Website</a></p>
{% endif %}
{% if usergroup.meetup %}
<p><a href="{{ usergroup.meetup }}" target="_blank">Meetup.com</a></p>
{% endif %}
{% if usergroup.facebook %}
<p><a href="{{ usergroup.facebook }}" target="_blank">Facebook</a></p>
{% endif %}
{% if usergroup.twitter %}
<p><a href="{{ usergroup.twitter }}" target="_blank">Twitter</a></p>
{% endif %}
<p>
  {% for contact in usergroup.contact %}
<p><a href="{{ contact[1] }}" target="_blank">{{ contact[0] }}</a></p>
{% endfor %}
</p>